@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "./header";
@import "./conteudo";
@import "./segundo-conteudo";
@import "./formulario";

body {
  margin: 0 !important;
  padding: 0 !important;
}
