@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "./header";
@import "./conteudo";
@import "./segundo-conteudo";
@import "./formulario";
@import "./footer";
